.App {
  max-width: 736px;
  margin: auto;
  padding-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// my styles
.btn {
  width: 100%;
}

.responsive {
  width: 100%;
  height: auto;
}

.containerScreenTwo {
  margin-top: 50px;

  .divTab {
    .nav {
      box-shadow: 2px 4px #f9f9f9;
    }

    .nav-item {
      flex: 1;
    }

    .nav-link {
      border-radius: 0px;
      color: #afafaf;
      text-align: center;
    }

    .nav-link.active {
      background-color: #3e22b3;
      color: #fff;
    }
  }

  .inputDropdown {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    .button-drop {
      width: 100%;
      background: #fff;
      color: #404040;
    }

    .formInput {
      margin-top: 30px;
    }
  }

  .divDes {
    margin-top: 15px;
    margin-bottom: 15px;

    .spanDes {
      color: #aaaaaa;
      font-size: 12px;
    }
    .pTime {
      color: #000000;
    }
  }
}
